.highlight {
  border-radius: 10px;
}

.highlight .hll { background-color: rgb(41, 50, 61); padding-top: 2pt; padding-bottom: 2pt; padding-right: 6pt; }
.highlight { background: rgb(25, 31, 38); color: #f8f8f2 }
.highlight .c { color: #575757 } /* Comment */
.highlight .err { color: #d30c0c; background-color: #1e0010 } /* Error */
.highlight .k { color: #ff7733 } /* Keyword */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f8f8f2 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .ch { color: #575757 } /* Comment.Hashbang */
.highlight .cm { color: #575757 } /* Comment.Multiline */
.highlight .cp { color: #575757 } /* Comment.Preproc */
.highlight .cpf { color: #575757 } /* Comment.PreprocFile */
.highlight .c1 { color: #575757 } /* Comment.Single */
.highlight .cs { color: #575757 } /* Comment.Special */
.highlight .gd { color: #f8f8f2 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #f8f8f2 } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #f8f8f2 } /* Generic.Subheading */
.highlight .kc { color: #ff7733; } /* Keyword.Constant */
.highlight .kd { color: #ff7733 } /* Keyword.Declaration */
.highlight .kn { color: #ff7733 } /* Keyword.Namespace */
.highlight .kp { color: #ff7733 } /* Keyword.Pseudo */
.highlight .kr { color: #ff7733 } /* Keyword.Reserved */
.highlight .kt { color: #ff7733 } /* Keyword.Type */
.highlight .na { color: #f8f8f2 } /* Name.Attribute */
.highlight .nb { color: #ffb454 } /* Name.Builtin */
.highlight .nc { color: #ffb454 } /* Name.Class */
.highlight .no { color: #f8f8f2 } /* Name.Constant */
.highlight .nd { color: #ffb454 } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #f8f8f2 } /* Name.Exception */
.highlight .nf { color: #ffb454 } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #f8f8f2 } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f8f8f2 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #ffb454 } /* Name.Function.Magic */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight .ow { color: #f8f8f2 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .l { color: #ffee99 } /* Literal */
.highlight .ld { color: #ffee99 } /* Literal.Date */
.highlight .m { color: #ffee99 } /* Literal.Number */
.highlight .mb { color: #ffee99 } /* Literal.Number.Bin */
.highlight .mf { color: #ffee99 } /* Literal.Number.Float */
.highlight .mh { color: #ffee99 } /* Literal.Number.Hex */
.highlight .mi { color: #ffee99 } /* Literal.Number.Integer */
.highlight .mo { color: #ffee99 } /* Literal.Number.Oct */
.highlight .il { color: #ffee99 } /* Literal.Number.Integer.Long */
.highlight .s { color: #b8cc52 } /* Literal.String */
.highlight .sa { color: #b8cc52 } /* Literal.String.Affix */
.highlight .sb { color: #b8cc52 } /* Literal.String.Backtick */
.highlight .sc { color: #b8cc52 } /* Literal.String.Char */
.highlight .dl { color: #b8cc52 } /* Literal.String.Delimiter */
.highlight .sd { color: #b8cc52 } /* Literal.String.Doc */
.highlight .s2 { color: #b8cc52 } /* Literal.String.Double */
.highlight .se { color: #b8cc52 } /* Literal.String.Escape */
.highlight .sh { color: #b8cc52 } /* Literal.String.Heredoc */
.highlight .si { color: #b8cc52 } /* Literal.String.Interpol */
.highlight .sx { color: #b8cc52 } /* Literal.String.Other */
.highlight .sr { color: #b8cc52 } /* Literal.String.Regex */
.highlight .s1 { color: #b8cc52 } /* Literal.String.Single */
.highlight .ss { color: #b8cc52 } /* Literal.String.Symbol */

code {
  background: hsl(210, 25%, 8%);
  color: #ff7733;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(212, 13%, 20%);
  padding: 3px;
}
