anyio
beautifulsoup4
blinker
docutils
feedgenerator
idna
Jinja2
lxml
markdown-it-py
MarkupSafe
mdurl
ordered-set
pelican
pelican-image-process
pelican-render-math
pelican-sitemap
pillow
Pygments
python-dateutil
pytz
rich
six
sniffio
soupsieve
Unidecode
watchfiles