{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}{{ article.title }}{% endblock title %}
{% block content %}
<h1>{{ article.title }}</h1>
<header>
  Published on <time datetime="{{ article.date.isoformat() }}">{{ article.date.date() }}</time>.
  {% if article.tags %}
    Tagged with
    {% for tag in article.tags %}
      <a href="/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}.
  {% endif %}
</header>

{{ article.content }}

{% endblock content %}