.highlight {
  border-radius: 10px;
}

.highlight .hll { background-color: rgb(41, 50, 61); padding-top: 2pt; padding-bottom: 2pt; padding-right: 6pt; }
/* .highlight { background: rgb(25, 31, 38); color: #f8f8f2 } */
.highlight { background: rgb(14, 18, 21); color: #f8f8f2 }
.highlight .c { color: #575757 } /* Comment */
.highlight .err { color: #d30c0c; background-color: #1e0010 } /* Error */
.highlight .k { color: #dc7f51 } /* Keyword */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f8f8f2 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .ch { color: #575757 } /* Comment.Hashbang */
.highlight .cm { color: #575757 } /* Comment.Multiline */
.highlight .cp { color: #7cbb68 } /* Comment.Preproc */
.highlight .cpf { color: #7cbb68 } /* Comment.PreprocFile */
.highlight .c1 { color: #575757 } /* Comment.Single */
.highlight .cs { color: #575757 } /* Comment.Special */
.highlight .gd { color: #f8f8f2 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #f8f8f2 } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #f8f8f2 } /* Generic.Subheading */
.highlight .typename { color: #dc7f51; } /* Types: u8, i8, u16, etc. */
.highlight .kc { color: #dc7f51; } /* Keyword.Constant */
.highlight .kd { color: #dc7f51 } /* Keyword.Declaration */
.highlight .kn { color: #dc7f51 } /* Keyword.Namespace */
.highlight .kp { color: #dc7f51 } /* Keyword.Pseudo */
.highlight .kr { color: #dc7f51 } /* Keyword.Reserved */
.highlight .kt { color: #dc7f51 } /* Keyword.Type */
.highlight .na { color: #f8f8f2 } /* Name.Attribute */
.highlight .nb { color: #ffb454 } /* Name.Builtin */
.highlight .nc { color: #ffb454 } /* Name.Class */
.highlight .no { color: #f8f8f2 } /* Name.Constant */
.highlight .nd { color: #ffb454 } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #f8f8f2 } /* Name.Exception */
.highlight .nf { color: #dc7f51 } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #f8f8f2 } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f8f8f2 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #ffb454 } /* Name.Function.Magic */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight .ow { color: #f8f8f2 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .l { color: #ffee99 } /* Literal */
.highlight .ld { color: #ffee99 } /* Literal.Date */
.highlight .m { color: #ffee99 } /* Literal.Number */
.highlight .mb { color: #ffee99 } /* Literal.Number.Bin */
.highlight .mf { color: #ffee99 } /* Literal.Number.Float */
.highlight .mh { color: #ffee99 } /* Literal.Number.Hex */
.highlight .mi { color: #ffee99 } /* Literal.Number.Integer */
.highlight .mo { color: #ffee99 } /* Literal.Number.Oct */
.highlight .il { color: #ffee99 } /* Literal.Number.Integer.Long */
.highlight .s { color: #b8cc52 } /* Literal.String */
.highlight .sa { color: #b8cc52 } /* Literal.String.Affix */
.highlight .sb { color: #b8cc52 } /* Literal.String.Backtick */
.highlight .sc { color: #b8cc52 } /* Literal.String.Char */
.highlight .dl { color: #b8cc52 } /* Literal.String.Delimiter */
.highlight .sd { color: #b8cc52 } /* Literal.String.Doc */
.highlight .s2 { color: #b8cc52 } /* Literal.String.Double */
.highlight .se { color: #b8cc52 } /* Literal.String.Escape */
.highlight .sh { color: #b8cc52 } /* Literal.String.Heredoc */
.highlight .si { color: #b8cc52 } /* Literal.String.Interpol */
.highlight .sx { color: #b8cc52 } /* Literal.String.Other */
.highlight .sr { color: #b8cc52 } /* Literal.String.Regex */
.highlight .s1 { color: #b8cc52 } /* Literal.String.Single */
.highlight .ss { color: #b8cc52 } /* Literal.String.Symbol */

.highlight .cpp-c { color: #575757 } /* Comment */
.highlight .cpp-cerr { color: #d30c0c; background-color: #1e0010 } /* Error */
.highlight .cpp-ck { color: #ff7733 } /* Keyword */
.highlight .cpp-cn { color: #f8f8f2 } /* Name */
.highlight .cpp-co { color: #f8f8f2 } /* Operator */
.highlight .cpp-cp { color: #f8f8f2 } /* Punctuation */
.highlight .cpp-cch { color: #575757 } /* Comment.Hashbang */
.highlight .cpp-ccm { color: #575757 } /* Comment.Multiline */
.highlight .cpp-cp { color: #61b75ecf } /* Comment.Preproc */
.highlight .cpp-cpf { color: #61b75ecf } /* Comment.PreprocFile */
.highlight .cpp-cc1 { color: #575757 } /* Comment.Single */
.highlight .cpp-ccs { color: #575757 } /* Comment.Special */
.highlight .cpp-cgd { color: #f8f8f2 } /* Generic.Deleted */
.highlight .cpp-cge { font-style: italic } /* Generic.Emph */
.highlight .cpp-cgi { color: #f8f8f2 } /* Generic.Inserted */
.highlight .cpp-cgs { font-weight: bold } /* Generic.Strong */
.highlight .cpp-cgu { color: #f8f8f2 } /* Generic.Subheading */
.highlight .cpp-ckc { color: #ff7733; } /* Keyword.Constant */
.highlight .cpp-ckd { color: #ff7733 } /* Keyword.Declaration */
.highlight .cpp-ckn { color: #ff7733 } /* Keyword.Namespace */
.highlight .cpp-ckp { color: #ff7733 } /* Keyword.Pseudo */
.highlight .cpp-ckr { color: #ff7733 } /* Keyword.Reserved */
.highlight .cpp-ckt { color: #ff7733 } /* Keyword.Type */
.highlight .cpp-cna { color: #f8f8f2 } /* Name.Attribute */
.highlight .cpp-cnb { color: #ffb454 } /* Name.Builtin */
.highlight .cpp-cnc { color: #ffb454 } /* Name.Class */
.highlight .cpp-cno { color: #f8f8f2 } /* Name.Constant */
.highlight .cpp-cnd { color: #ffb454 } /* Name.Decorator */
.highlight .cpp-cni { color: #f8f8f2 } /* Name.Entity */
.highlight .cpp-cne { color: #f8f8f2 } /* Name.Exception */
.highlight .cpp-cnf { color: #ffb454 } /* Name.Function */
.highlight .cpp-cnl { color: #f8f8f2 } /* Name.Label */
.highlight .cpp-cnn { color: #f8f8f2 } /* Name.Namespace */
.highlight .cpp-cnx { color: #f8f8f2 } /* Name.Other */
.highlight .cpp-cpy { color: #f8f8f2 } /* Name.Property */
.highlight .cpp-cnt { color: #f8f8f2 } /* Name.Tag */
.highlight .cpp-cnv { color: #f8f8f2 } /* Name.Variable */
.highlight .cpp-cbp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .cpp-cfm { color: #ffb454 } /* Name.Function.Magic */
.highlight .cpp-cvc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .cpp-cvg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .cpp-cvi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .cpp-cvm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight .cpp-cow { color: #f8f8f2 } /* Operator.Word */
.highlight .cpp-cw { color: #f8f8f2 } /* Text.Whitespace */
.highlight .cpp-cl { color: #ffee99 } /* Literal */
.highlight .cpp-cld { color: #ffee99 } /* Literal.Date */
.highlight .cpp-cm { color: #ffee99 } /* Literal.Number */
.highlight .cpp-cmb { color: #ffee99 } /* Literal.Number.Bin */
.highlight .cpp-cmf { color: #ffee99 } /* Literal.Number.Float */
.highlight .cpp-cmh { color: #ffee99 } /* Literal.Number.Hex */
.highlight .cpp-cmi { color: #ffee99 } /* Literal.Number.Integer */
.highlight .cpp-cmo { color: #ffee99 } /* Literal.Number.Oct */
.highlight .cpp-cil { color: #ffee99 } /* Literal.Number.Integer.Long */
.highlight .cpp-cs { color: #b8cc52 } /* Literal.String */
.highlight .cpp-csa { color: #b8cc52 } /* Literal.String.Affix */
.highlight .cpp-csb { color: #b8cc52 } /* Literal.String.Backtick */
.highlight .cpp-csc { color: #b8cc52 } /* Literal.String.Char */
.highlight .cpp-cdl { color: #b8cc52 } /* Literal.String.Delimiter */
.highlight .cpp-csd { color: #b8cc52 } /* Literal.String.Doc */
.highlight .cpp-cs2 { color: #b8cc52 } /* Literal.String.Double */
.highlight .cpp-cse { color: #b8cc52 } /* Literal.String.Escape */
.highlight .cpp-csh { color: #b8cc52 } /* Literal.String.Heredoc */
.highlight .cpp-csi { color: #b8cc52 } /* Literal.String.Interpol */
.highlight .cpp-csx { color: #b8cc52 } /* Literal.String.Other */
.highlight .cpp-csr { color: #b8cc52 } /* Literal.String.Regex */
.highlight .cpp-cs1 { color: #b8cc52 } /* Literal.String.Single */
.highlight .cpp-css { color: #b8cc52 } /* Literal.String.Symbol */

code {
  background: hsl(210, 25%, 8%);
  color: #dc7f51;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(212, 13%, 20%);
  padding: 3px;
}